.about {
  padding: 60px 120px;
  background-color: #303040;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

    p {
      color: #b9b9cb;
      margin-top: 15px;
      max-width: 500px;
      em {
        color: #f0f0f4;
        font-style: normal;
      }
    }
  }
}
