.projects {
  background-color: #303040;
  padding: 30px 70px;
  padding-top: 50px;

  .talk {
    max-width: 400px;
    color: #b9b9cb;
    margin-top: 13px;
  }

  .projects-container {
    margin-top: 70px;
    /*  
        Just to give stacking context so that
        the ::before of the projects work
    */

    position: relative;
    z-index: 1;
  }

  a {
    margin-top: 40px;
  }
}
