.projects {
  --vertical-padding: 60px;
  padding: var(--vertical-padding) 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;

  h3 {
    color: #e5e5e6;
    font-size: 20px;
    font-weight: 600;
  }

  & > section {
    height: calc(100vh - (2 * var(--vertical-padding)));
    overflow: auto;
  }
}
