.saving {
  color: #babac4;
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 400;
  font-size: 15px;
  &::after {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: conic-gradient(
      from 180.13deg at 50.12% 50.12%,
      rgba(255, 255, 255, 0.31) 0deg,
      #ffffff 360deg
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 2px),
      #fff calc(100% - 2px)
    );
    display: inline-block;
    animation: rotate 0.9s linear infinite;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
