@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&family=Roboto+Mono:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: #202324;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
  border-radius: 15px;
}

.hero {
  height: 100vh;
  position: relative;
  background-color: #181820;
  padding: 20px 70px;
}

.hero .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.hero .grid h1 {
  color: #fff;
  font-size: 35px;
}

.hero .grid h1 span {
  color: #7c99df;
}

.hero .grid .subtitle {
  color: #c5c5d3;
  margin: 25px 0;
  font-size: 15px;
  max-width: 80%;
}

.hero .grid .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero .grid figure {
  max-width: 450px;
}

.hero .grid figure svg {
  max-width: 100%;
}

@media screen and (max-width: 970px) {
  .hero .grid {
    display: block;
  }
  .hero .grid .image {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .hero {
    padding: 25px;
  }
  .hero .grid h1 {
    font-size: 30px;
  }
  .hero .grid .subtitle {
    max-width: unset;
  }
}

.about {
  padding: 105px 120px;
  padding-bottom: 80px;
  background-color: #303040;
  overflow: hidden;
}

.about .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .grid .about-talk {
  color: #b9b9cb;
  margin-top: 15px;
  max-width: 500px;
}

.about .grid .about-talk em {
  color: #f0f0f4;
  font-style: normal;
}

@media screen and (max-width: 1280px) {
  .about .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 100px;
  }
}

@media screen and (max-width: 580px) {
  .about {
    padding: 80px 25px;
  }
}

.services {
  position: relative;
  padding: 105px 120px;
  background-color: #303040;
  overflow: hidden;
}

.services h2 svg {
  display: inline-block;
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.services .watermark {
  position: absolute;
  top: 10%;
  max-width: 800px;
  right: -10%;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 830px) {
  .services .watermark {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .services {
    padding: 80px 25px;
    padding-top: 0;
  }
}

.stack {
  height: 100vh;
  background-color: #181820;
  padding: 30px 70px;
  padding-top: 60px;
  position: relative;
}

.stack .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  height: 490px;
}

.stack .grid .talk {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.stack .grid .talk h2 {
  color: #fff;
  margin-bottom: 10px;
}

.stack .grid .talk p {
  color: #b9b9cb;
  max-width: 400px;
}

.stack .grid .item-container {
  position: relative;
}

.stack .watermark {
  position: absolute;
  bottom: 0;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.05);
  left: -40px;
  font-weight: 700;
  max-width: 500px;
  line-height: 1.5em;
  pointer-events: none;
}

.projects {
  background-color: #303040;
  padding: 50px 70px;
}

.projects .talk {
  max-width: 400px;
  color: #b9b9cb;
  margin-top: 13px;
}

.projects .projects-container {
  margin-top: 70px;
  /*  
        Just to give stacking context so that
        the ::before of the projects work
    */
  position: relative;
  z-index: 1;
}

.projects a {
  margin-top: 40px;
}

.projects .currently {
  color: #b9b9cb;
  max-width: 480px;
  margin-top: 30px;
}

.contact {
  background-color: #181820;
  padding: 30px 70px;
  padding-top: 80px;
  position: relative;
}

.contact .grid {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  color: #b9b9cb;
}

.contact .grid .info p {
  max-width: 380px;
}
/*# sourceMappingURL=index.css.map */