@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&family=Roboto+Mono:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(32, 35, 36);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(69, 74, 77);
  border-radius: 15px;
}

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  background-color: #181820;

  & > section {
    height: 100vh;
    overflow: auto;
    position: relative;
  }
}

@media screen and(max-width:1220px) {
  .dashboard {
    display: block;
  }
}
