@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&family=Roboto+Mono:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Hero
@import "./styles/hero";
